/* Variables de color */
:root {

/* colores de fondo */
    --background-dark-100: #000000;
    --background-dark-90:  #222222;
    --background-dark-95:  #282828;
    --background-dark-80:  #333333;
    --background-dark-70:  #444444;
    --background-dark-60:  #DDEB9D;


/* colores de texto */
--color-white-100: #FFFFFF;
--color-white-95: #f5f5f5;
--color-white-80: #d5d5d5;
--color-white-60: #aaaaaa;

/* Tamanos de fuente*/

}